* {
  background-color: black;
}

.game-body {
  margin: auto;
  display: grid;
  width: max(50%, 320px);
  grid-template-columns: repeat(3, minmax(6rem, 1fr));
  padding-top: max(2%, 7rem);
}

.game-body__game-area {
  color: white;
  padding: 30% 0;
  cursor: pointer;
  font-size: max(3vw, 1.5rem);
  aspect-ratio: 1/0.75;
}

.top {
  border-top: none;
}
.left {
  border-left: none;
}
.right {
  border-right: none;
}
.bottom {
  border-bottom: none;
}
